.buttonListStyle {
  padding-top: 5px;
}

.sideBar {
  border-right: 5px solid black;
}

.button {
  background-color: dodgerblue;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 17px;
  padding: 5px 30px;
  text-decoration: none;
  white-space: nowrap;
  min-width: 100%
}

li:not(:last-child) {
  margin-bottom: 10px;
}

.mainArea {
}

.buttonsStyle {
}

.contentStyle {
  margin-top: -40px;
}
