<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Owner</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bid of bids">
        <td>{{ bid.id }}</td>
        <td>{{ bid.user.name}}</td>
        <td>{{ bid.item.name }}</td>
        <td>{{ bid.amount }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
